<div class="row">
    <div class="col-md-7">
        <img class="threeplImg" src="{{.Params.ThreePLImg}}" />
    </div>
    <div class="col-md-5">
        <p class="industrySectionP"> {{.Params.ThreePLTabPara1}} </p>
        <p>{{.Params.ThreePLTabPara2}} </p>
    </div>
</div>
<div class="row" style="justify-content:center">
    <h2 class="threeplh1">{{.Params.ThreePLTabHead1}} </h2>
    <h2 class="threeplh2">{{.Params.ThreePLTabHead2}} </h2>
    <p class="threePLPara">{{.Params.ThreePLTabHeadPara}} </p>
</div>
<div class="row threeplbody">
    <div class="col-md-3 ThreePLBlock"> 
        <div class="row  threeplBlock">
        <h5>{{.Params.ThreePLBlock1H}} </h5>
        <p>{{.Params.ThreePLBlock1C}} </p>
    </div>
</div>
    <div class="col-md-3 ThreePLBlock">
        <div class="row  threeplBlock">
            <h5>{{.Params.ThreePLBlock2H}} </h5>
        <p>{{.Params.ThreePLBlock2C}} </p>
    </div>
    </div>
    <div class="col-md-3 ThreePLBlock">
        <div class="row  threeplBlock">
            <h5 class="tpl">{{.Params.ThreePLBlock3H}}</h5>
        <p>{{.Params.ThreePLBlock3C}} </p>
    </div>
    </div>
</div>
<div class="container">
<div class="row threeplcasestudy">
    <div class="col-md-4 threeplcasestudy1" > 
        <img class="threeplcasestudyImg" src="{{.Params.ThreePLCaseStudyImg}}">
    </div>
    <div class="col-md-8">
        <h4 class="threeplcasestudyh4">{{.Params.ThreePLCaseStudyH}} </h4>
        <p class="threeplcasestudyP">{{.Params.ThreePLCaseStudyC}} </p>
    </div>
</div>
</div>