<div class="row">
    <div class="col-md-7">
        <img class="threeplImg" src="{{.Params.FMCGTabImg}}" />
    </div>
    <div class="col-md-5">
        <p class="industrySectionP">{{.Params.FMCGTabPara1}} </p>
        <p>{{.Params.FMCGTabPara2}} </p>
    </div>
</div>
<div class="row" style="justify-content:center; text-align:center">
    <h2 class="threeplh1">{{.Params.FMCGH1}} </h2>
    <h2 class="threeplh2">{{.Params.FMCGH2}} </h2>
    <p class="threePLPara">{{.Params.FMCGHP}} </p>
</div>
<div class="row threeplbody" >
    <div class="col-md-3 ThreePLBlock">
        <div class="row  fmgcBlock">
        <h5 class="threeplcasestudyh4 gmgblockhead ">{{.Params.FMCGB1H}} </h5>
        <p class="threeplcasestudyP">{{.Params.FMCGB1C}} </p>
    </div>
</div>
    <div class="col-md-3 ThreePLBlock">
        <div class="row  fmgcBlock">
        <h5 class="threeplcasestudyh4 gmgblockhead">{{.Params.FMCGB2H}} </h5>
        <p class="threeplcasestudyP">{{.Params.FMCGB2C}} </p>
    </div>
</div>
    <div class="col-md-3 ThreePLBlock">
        <div class="row  fmgcBlock">
        <h5 class="threeplcasestudyh4 gmgblockhead">{{.Params.FMCGB3H}} </h5>
        <p class="threeplcasestudyP">{{.Params.FMCGB3C}} </p>
    </div>
</div>
</div>
<!--<div class="row threeplcasestudy">
   
        <div class="col-md-4" style="align-items:bottom; text-align: right;">
            <img width="150" src="{{.Params.FMCGCaseStudyImg}}"/>
        </div>
    <div class="col-md-8">
        <h4>{{.Params.FMCGCaseStudyH}} </h4>
        <p>{{.Params.FMCGCaseStudyC}} </p>
    </div>
    </div>
</div>-->