<section class="industry-tab-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 industryHeader">
                <div class="industry-tab-content">
                    <h1>
                        {{ .Params.industriesTabHeading }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading industry h2 tabslist">
                <ul class="nav nav-tabs industrytabs" style="justify-content: center;">
                    <a class="active" href="#tab1default" data-toggle="tab">
                        <h2>{{.Params.ThreePLTab}} </h2>
                    </a>
                    <a href="#tab2default" data-toggle="tab">
                        <h2> {{.Params.OGTab}}</h2>
                    </a>
                    <a href="#tab3default" data-toggle="tab">
                        <h2> {{.Params.FMCGTab}}</h2>
                    </a>
                    <a href="#tab4default" data-toggle="tab">
                        <h2> {{.Params.manufactH}}</h2>
                    </a>
                    <a href="#tab5default" data-toggle="tab">
                        <h2> {{.Params.portH}}</h2>
                    </a>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content contentTab">
                    <div class="tabcontent" id="tab1default">
                        {{ partial "industry/3PLTab.html" . }}
                    </div>
                    <div class="tabcontent" id="tab2default" style="display: none;">
                        {{ partial "industry/OGTab.html" . }}
                    </div>
                    <div class="tabcontent" id="tab3default" style="display: none;">
                        {{ partial "industry/FMCGTab.html" . }}
                    </div>
                    <div class="tabcontent" id="tab4default" style="display: none;">
                        {{ partial "industry/manufact.html" . }}
                    </div>
                    <div class="tabcontent" id="tab5default" style="display: none;">
                        {{ partial "industry/port.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    var tabs = document.querySelectorAll(".tabslist ul a");
    var tabcontent = document.querySelectorAll(".tabcontent");
    tabs.forEach(function (tab, tab_index) {
        tab.addEventListener("click", function () {
            tabs.forEach(function (tab) {
                tab.classList.remove("active")
            })
            tab.classList.add("active")
            tabcontent.forEach(function (contentTab, contentTab_index) {
                if (contentTab_index == tab_index) {
                    contentTab.style.display = "block";
                }
                else {
                    contentTab.style.display = "none";
                }
            })
        })
    })
</script>