<div class="row">
    <div class="col-md-7">
        <img class="threeplImg" src="{{.Params.OGTab2Img}}" />
    </div>
    <div class="col-md-5">
        <p class="industrySectionP">{{.Params.OGTab2Para1}} </p>
        <p>{{.Params.OGTab2Para2}} </p>
    </div>
</div>
<!--<div class="row threeplcasestudy">
    <div class="col-md-4 threeplcasestudy1"> 
        <img class="threeplcasestudyImg" src="{{.Params.oilCaseStudyImg}}">
    </div>
    <div class="col-md-8">
        <h4 class="threeplcasestudyh4">{{.Params.oilCaseStudyHeading}} </h4>
        <p class="threeplcasestudyP">{{.Params.oilCaseStudyContent}} </p>
    </div>
</div>-->