<!--<div class="row" style="justify-content: center;">
    <div class="col-md-3 resource-whitepaper" >
        <div class="whitepaperdiv"><img class="whitepaperImg" src="{{.Params.InTheNewsImg1}}" />
            <p>{{.Params.ThreePLCaseStudyC}} </p>
            <button aria-label="Case Study" class="whitepaper-btn">{{.Params.wpButtonValue}} </button>
        </div>
    </div>
    <div class="col-md-3 resource-whitepaper">
        <div class="whitepaperdiv"><img class="whitepaperImg" src="{{.Params.InTheNewsImg2}}" />
            <p>{{.Params.ThreePLCaseStudyC}} </p>
            <button aria-label="white paper" class="whitepaper-btn">{{.Params.wpButtonValue}} </button>
        </div>
    </div>
    <div class="col-md-3 resource-whitepaper">
        <div class="whitepaperdiv"><img class="whitepaperImg" src="{{.Params.InTheNewsImg3}}" />
            <p>{{.Params.ThreePLCaseStudyC}}</p>
            <button aria-label="Three PL Case Study" class="whitepaper-btn">{{.Params.wpButtonValue}} </button>
        </div>
    </div>
</div>-->

<section class="news" >
    <div class="container">
        <div class="row">
            <h1>{{.Params.AdityaH}}<br/></h1>
            <p class="date">{{.Params.AdityaD}}<br/></p>
            <p class=newspara1>{{.Params.AdityaP}}</p>
            <img class="aditya"src="{{.Params.AdityaImg}}"/>
            
        </div>
        <div class="row">
            <h1>{{.Params.NascomH}}<br/></h1>
            <p class="date">{{.Params.NascomD}}<br/></p>
            <p class=newspara1>{{.Params.NascomP1}}<br/></p>
            <p class=newspara2>{{.Params.NascomP2}}<br/></p>
            <img class="aditya" src="{{.Params.NascomImg}}"/>
            <img class="aditya" src="{{.Params.NascoImg1}}"/>
            <h4 class="ref">{{.Params.ref}}</h4>
            <a class="links"href="https://community.nasscom.in/communities/digital-transformation/healthtech-and-life-sciences/the-9th-edition-of-lhif-underlines-vaccine-trails-and-the-need-to-optimize-the-supply-chain.html"target="_blank">https://community.nasscom.in/communities/digital-transformation/healthtech-and-life-sciences/the-9th-edition-of-lhif-underlines-vaccine-trails-and-the-need-to-optimize-the-supply-chain.html</a>
            <a class="links"href="https://www.linkedin.com/showcase/lhif-%E2%80%93-a-nasscom-healthcare-initiative/posts/?feedView=all"target="_blank">https://www.linkedin.com/showcase/lhif-%E2%80%93-a-nasscom-healthcare-initiative/posts/?feedView=all </a>
        </div>
        <div class="row">
            <h1>{{.Params.TurboH}}</h1>
            <p class="date">{{.Params.TurboD}}<br/></p>
            <h2 class="turboP">{{.Params.TurboP}}<br/><br/></h2>
            <p class="newspara3">{{.Params.TurboP1}}<br/></p>
            <h4 class="ref">{{.Params.ref}}</h4>
            <a class="links link1" href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/turbostart-founders-fellowship-honours-the-most-innovative-startups-in-the-country-heres-the-list-of-winners-from-the-first-edition-/articleshow/74458786.cms"target="_blank">https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/turbostart-founders-fellowship-honours-the-most-innovative-startups-in-the-country-heres-the-list-of-winners-from-the-first-edition-/articleshow/74458786.cms</a>
        </div>
    </div>
</section>