<div class="row" style="justify-content: center;">
    <div class="col-md-3 resource-whitepaper">
        <div class="whitepaperdiv"> <img class="whitepaperImg" src="{{.Params.whitepaperImg}}" />
            <p>{{.Params.ThreePLCaseStudyC}} </p>
            <button aria-label="case study" class="whitepaper-btn btn1">{{.Params.wpButtonValue}} </button>
        </div>
    </div>
    
    <div class="col-md-3 resource-whitepaper">
        <div class="whitepaperdiv"> <img class="whitepaperImg" src="{{.Params.BlogUpdatesImg}}" />
            <p class="w1">{{.Params.ThreePLCaseStudyC}} </p>
            <button aria-label="whitepaper " class="whitepaper-btn btn2">{{.Params.wpButtonValue}} </button>
        </div>
    
</div>
    <div class="col-md-3 resource-whitepaper">
        <div class="whitepaperdiv"> <img class="whitepaperImg" src="{{.Params.InthenewsImg}}" />
            <p class="w2">{{.Params.ThreePLCaseStudyC}} </p>
            <button aria-label="Three PL Case Study" class="whitepaper-btn btn3">{{.Params.wpButtonValue}} </button>
        </div>
    </div>
</div>