<section id="operations">
  <div
    class="container opOpBg"
    style="background-image: url('{{ .Params.opOpBgImg }}');"
  >
    <div class="col-md-8">
      <h2 class="opOph2">{{ .Params.opOpHeading }}</h2>
      <h5 class="opOph5">{{ .Params.opOpPara }}</h5>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row" style="justify-content: center">
      <div class="col-md-6">
        <div class="row capOpH">
          <div class="d-flex">
            <div class="col-md-8">
              <h3>
                <span class="capOpH1"> {{ .Params.capOpH1 }}</span> <br />
                {{ .Params.capOpH2 }}
              </h3>
            </div>
            <div class="col-md-6">
              <img
                class="logoOpImg"
                src="{{.Params.capOpImg}}"
                alt="Operational Optimization"
                class="src"
              />
            </div>
          </div>
          <p class="capP">{{ .Params.capOpC }}<br />{{ .Params.capOpC1 }}</p>
        </div>
        <div class="row capOpH">
          <div class="d-flex">
            <div class="col-md-8">
              <h3>
                <span class="capOpH1"> {{ .Params.trackOpH1 }}</span> <br />
                {{ .Params.trackOpH2 }}
              </h3>
            </div>
            <div class="col-md-6">
              <img
                class="logoOpImg"
                src="{{.Params.trackOpImg}}"
                alt="Track Optimization"
                class="src"
              />
            </div>
          </div>
          <p class="capT">
            {{ .Params.trackOpC }}<br />{{ .Params.trackOpC1 }}<br />{{ .Params.trackOpC2 }}<br />{{ .Params.trackOpC3 }}
          </p>
        </div>
      </div>

      <div class="col-md-6 capOpHroute">
        <div class="row capOpH">
          <div class="d-flex">
            <div class="col-md-8">
              <h3>
                <span class="capOpH1"> {{ .Params.routeOpH1 }}</span> <br />
                {{ .Params.routeOpH2 }}
              </h3>
            </div>
            <div class="col-md-6">
              <img
                class="logoOpImg"
                src="{{.Params.routeOpImg}}"
                alt="Transo Cost Optimization"
                class="src"
              />
            </div>
          </div>
          <p class="capR">
            {{ .Params.routeOpC }}<br />{{ .Params.routeOpC1 }}
          </p>
        </div>
        <div class="row capOpH">
          <div class="d-flex">
            <div class="col-md-8">
              <h3>
                <span class="capOpH1"> {{ .Params.costOpH1 }}</span> <br />
                {{ .Params.costOpH2 }}
              </h3>
            </div>
            <div class="col-md-6">
              <img
                class="logoOpImg"
                src="{{.Params.costOpImg}}"
                alt="Transo Cost Optimization"
                class="src"
              />
            </div>
          </div>
          <p class="capOO">
            {{ .Params.costOpC }}<br />{{ .Params.costOpC1 }}<br />{{.Params.costOpC2 }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
