@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color-default;
  line-height: 25px;
  font-weight: 400;
}

.body-text-bold {
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}

p {
  font-size: 16px;
  color: $text-color-default;
}

h1 {
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
}

h2 {
  //styleName: Title 2;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
}

h3 {
  font-size: 30px;
}

h4 {
  //styleName: Title 4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
  font-weight: 300;
}

.header-color-default {
  color: $header-text-default-color;
}

.header-color-primary {
  color: $header-text-primary-color;
}

.header-color-secondary {
  color: $header-text-secondary-color;
}

.header-color-tertiary {
  color: $header-text-tertiary-color;
}
