//site color variables
$body-color: #fff;
$primary-color: #FAAD26;
$secondary-color: #F7F7F7;
$tertiary-color:#3A3A3C;

$text-color: #9D9EA5;
$text-color-dark: #00113E;

$text-color-default:#3A3A3C;
$text-color-primary:#FAAD26;
$text-color-secondary:#BEBFBF;
$text-color-tertiary:white;

$background-color-default:white;
$background-color-primary:#FAAD26;
$background-color-secondary:#F7F7F7;
$background-color-tertiary:#E5E5E5;
$background-color-fourth:#bebfbf;
$background-color-fifth:#3A3A3C;

$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

$body-text-color:#3A3A3C;

$header-text-default-color:#FAAD26;
$header-text-primary-color:#3A3A3C;
$header-text-secondary-color:#625C5C;
$header-text-tertiary-color:white;

$timeline-color-default:#FAAD26;
$timeline-color-primary: #BEBFBF;

$tab-border-color-default:#FAAD26;
$tab-border-color-primary:#C4C4C4;

$button-color-default: #FAAD26;
$button-color-primary: #3057E3;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


