<section class="site-about-founder">
    <div class="container">
      <div class="row">
          <div class="col-md-3 founderImgClass" >
              <img  src="{{.Params.founderImg}}" />
          </div>

          <div class="col-md-2">
              &nbsp;
          </div>
          <div class="col-md-7 founderNameClass">
              <h5 >{{ .Params.founderName }}, <span class="founderDesg">{{ .Params.founderDesignation }}</span></h5>
              <p class="founderDesc">{{ .Params.founderDescription }}</p>
          </div>
      </div>
  </div>
  </section>