<section class="site-about-mission">
    <div class="container">
      <div class="row">
          <div class="col-md-6 missionImg"  style="background-image: url('{{ .Params.missionImg }}');" >
          </div>
          <div class="col-md-6">
              <h5 style="font-weight: bold;">{{ .Params.missionHeading }} </h5>
              <p class="mpara">{{ .Params.missionPara1 }}</p>
              <p>{{ .Params.missionPara2 }}</p>
           
             <h5 class="exH"style="font-weight: bold;">{{ .Params.existenceReasonHeading }} </h5>
              <p class="mpara">{{ .Params.existencePara1 }}</p>
              <p>{{ .Params.existencePara2 }}</p>
          </div>
      </div>
  </div>
  </section>