<!--<section class="site-team">
  <div class="container">
<h3 class="teamHeader">Meet the team</h3>
    <div class="row teamBody">
      <div class="col-md-3 teamImgClass">
        <img  src="{{.Site.Data.team.image1}}" />
      </div>
      <div class="col-md-8 teamcontent" >
        <h5> {{.Site.Data.team.name1}} </h5>
        <h6> {{.Site.Data.team.designation1}}</h6> <br />
        <p>{{.Site.Data.team.brief1}}</p>
      </div>
    </div>


    <div class="row teamBody "> 
      <div class="col-md-8 teamcontent " >
        <h5 style="text-align: right;"> 
          {{.Site.Data.team.name2}} 
        </h5> 
       <h6 style="text-align: right;">
        {{.Site.Data.team.designation2}}
          </h6>
        <p style="text-align: right;">{{.Site.Data.team.brief2}}</p>
      </div>
      <div class="col-md-3 teamImgClass firstorder">
        <img  src="{{.Site.Data.team.image2}}" />
      </div>
    </div>


    <div class="row teamBody">
      <div class="col-md-3 teamImgClass">
        <img  src="{{.Site.Data.team.image3}}" />
      </div>
      <div class="col-md-8 teamcontent" >
        {{.Site.Data.team.name3}}<br />
        <h6>{{.Site.Data.team.designation3}} </h6><br />
       <p>{{.Site.Data.team.brief3}}</p>
      </div>
    </div>


    <div class="row teamBody"> 
      <div class="col-md-8 teamcontent" >
        <h5 style="text-align: right;">
          {{.Site.Data.team.name4}}
        </h5> 
        <h6 style="text-align: right;">
          {{.Site.Data.team.designation4}}</h6> 
        <p style="text-align: right;">{{.Site.Data.team.brief4}}</p>
      </div>
      <div class="col-md-3 teamImgClass firstorder">
        <img  src="{{.Site.Data.team.image4}}" />
      </div>
    </div>
    <div class="row teamBody">
      <div class="col-md-3 teamImgClass">
        <img  src="{{.Site.Data.team.image5}}" />
      </div>
      <div class="col-md-8 teamcontent" >
        {{.Site.Data.team.name5}} <br />
        <h6>{{.Site.Data.team.designation5}}</h6> <br />
        <p>{{.Site.Data.team.brief5}}</p>
      </div>
    </div>
    <div class="row teamBody">   
      <div class="col-md-8 teamcontent" >
       <h5 style="text-align: right;">
         {{.Site.Data.team.name6}}
       </h5> 
        <h6 style="text-align: right;">{{.Site.Data.team.designation6}}</h6> <br />
        <p style="text-align: right;">{{.Site.Data.team.brief6}}</p>
      </div>
      <div class="col-md-3 teamImgClass firstorder">
        <img  src="{{.Site.Data.team.image6}}" />
      </div>
    </div>
    <div class="row teamBody">
      <div class="col-md-3 teamImgClass">
        <img  src="{{.Site.Data.team.image7}}" />
      </div>
      <div class="col-md-8 teamcontent" >
       <h5> {{.Site.Data.team.name7}} </h5>
        <h6>{{.Site.Data.team.designation7}}</h6> 
        <p>{{.Site.Data.team.brief7}}</p>
      </div>
    </div>
  </div>
  </div>
</section>-->