.container {
  max-width: 90%;
}

.clientHeader {
  padding-top: 25px;
  justify-content: center;
  text-align: center;
}

.home-movespeed {
  text-align: center;
  background-color: $background-color-secondary;
  padding: 60px 0 60px 0;
}

.home-movespeed h1 {
  padding-bottom: 20px;
}
.home-movespeed p {
  padding-bottom: 10px;
}
.move-circles {
  padding: 20px;
  @include desktop {
    font-size: 42px;
  }
}
.move-dot {
  margin-right: 20px;
  height: 220px;
  width: 220px;
  background-color: #3057e3;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 8px;
  box-shadow: 13px 13px 13px rgba(86, 111, 201, 0.3);
}

.move-dot h2 {
  color: $text-color-tertiary;
  font-size: 64px;
  font-weight: 200;
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.move-dot h3 {
  color: $text-color-tertiary;
  font-size: 18px;
  font-weight: 500;
}

.home-organize {
  background-color: $background-color-primary;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 100px;
}

.home-organize p {
  margin-top: 20px;
}

.home-organize h2 {
  color: $text-color-tertiary;
}

.heading2 {
  color: $text-color-default;
}
.organizeImages {
  height: 500px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 60px;
  -webkit-filter: drop-shadow(-7px -7px 7px rgba(59, 59, 59, 0.2));
  @include desktop {
    padding-bottom: 110px;
  }
}

.org3section {
  margin-top: -8.5%;
  // @include tv{margin-top: -33rem;}
  // @include desktop-4k{margin-top: -23.4rem;}
  // @include desktop-xls{margin-top: -13.8rem;}
  // @include desktop-xl{margin-top: -12.9rem;}
  @include desktop-lg {
    margin-top: -9.3rem;
  }
  @include desktop {
    margin-top: -10.8rem;
  }
  @include tablet {
    margin-top: -7.3rem;
  }
  @include mobile {
    margin-top: 0rem;
  }
  // @include mobile-l{margin-top: -6rem;}
  // @include mobile-xs{margin-top: -5.4rem;}
  // @include mobile-m{margin-top: -5rem;}
  // @include mobile-s{margin-top: -4.3rem;}
  h3 {
    color: black;
  }
  .jumbotron1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // height: 56.25vw;
    height: 42rem;
    display: flex !important;
    align-items: center;
    padding-top: 45%;
    h3 {
      margin: 0 auto;
      margin: 0 auto;
    }
    @include mobile {
      padding-top: 85%;
    }
  }
}
.shipperbg {
  background-image: url("/images/home/shipper-tp.webp");

  @include mobile {
    background-image: url("/images/home/shipper.webp");
  }
}
.driverbg {
  background-image: url("/images/home/driver-tp.webp");

  @include tablet {
    background-image: url("/images/home/driver.webp");
  }
}
.carrierbg {
  background-image: url("/images/home/carrier-tp.webp");

  @include tablet {
    background-image: url("/images/home/carrier.webp");
  }
}

.home-connect {
  text-align: center;
}
.connect-heading {
  color: $text-color-primary;
}

.home-connect {
  padding-top: 100px;
}
.connect-img {
  height: 250px;
  width: 500px;
  padding-top: 50px;
  padding-bottom: 60px;
  @include mobile {
    height: 180px;
    width: 300px;
  }
}
.digi-heading {
  color: $text-color-primary;
  text-align: center;
}

.digi-img {
  height: 505px;
  width: 585px;
  @include mobile {
    height: 270px;
    width: 300px;
  }
}

.home-digitize {
  text-align: center;
  background-color: $background-color-secondary;
  padding-top: 60px;
  a {
    text-decoration: none;
  }
}

.home-digitize p {
  margin-top: 20px;
}

.home-visibility {
  text-align: center;
  padding-top: 80px;
}

.visi-head {
  margin-top: 30px;
}

.visi-head2 {
  color: $text-color-primary;
  padding-bottom: 60px;
}
.digit-btn {
  background: #faad26;
  height: 48px;
  width: 127px;
  border: 1px solid #faad26;
  border-radius: 25px;
  font-family: Montserrat;
  margin: 15px;
  color: #ffffff;
  margin-bottom: 50px;
}
.digit-btn:hover {
  color: #faad26;
  background: white;
}
.visibile-btn {
  background: #faad26;
  height: 48px;
  width: 127px;
  border: 1px solid #faad26;
  border-radius: 25px;
  font-family: Montserrat;
  margin: 40px;
  color: #ffffff;
}
.stream-img {
  padding-right: 200px;
}
.stream-head {
  color: $text-color-primary;
}
.simply-head {
  color: $text-color-primary;
}
.leverage-head {
  color: $text-color-primary;
}

.home-streamline {
  padding-top: 50px;
}

.streamline-bg {
  background-size: 90%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.streamline-btn {
  background: #faad26;
  height: 48px;
  width: 127px;
  border: 1px solid #faad26;
  border-radius: 25px;
  font-family: Montserrat;
  margin: 15px;
  color: #ffffff;
}
.home-simplify {
  padding-top: 120px;
}

.home-simplify {
  padding-top: 120px;
}
.simplyfy-btn {
  background: #faad26;
  height: 48px;
  width: 127px;
  border: 1px solid #faad26;
  border-radius: 25px;
  font-family: Montserrat;
  margin: 15px;
  color: #ffffff;
}
.home-testimonial {
  background-color: $background-color-fourth;
  padding-top: 20px;
}

.home-leverage {
  padding-top: 120px;
  @include mobile {
    padding-top: 10px;
  }
}

.testimonial-content {
  padding-top: 65px;
}
.testimonial-content h6 {
  font-weight: bold;
}
.testimonial-img {
  padding-left: 60px;
}
.quotes {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 0px;
  color: #e5e5e5;
}
.quotes-close {
  padding-top: 15px;
  padding-left: 300px;
  @include mobile {
    padding-left: 110px;
  }
}
.quotes-para {
  margin-left: 30px;
  text-align: left;
}
.leverage-btn {
  background: #faad26;
  height: 48px;
  width: 127px;
  border: 1px solid #faad26;
  border-radius: 25px;
  font-family: Montserrat;
  margin: 15px;
  color: #ffffff;
}

.techlogos {
  width: 130px;
  padding: 10px;
}
.lineSection{
  display: flex;
  margin-top: -8rem;
  
}
.dotted-line{
  margin-left: 15rem;
  
}

.dotted-line1{
  margin-left: 1rem;
  
}
.dotted-line::before{
  content: "";
  height: 11px;
  width: 11px;
  background-color:  #FAAD26;
  border-radius: 50%;
  //display: inline-block;
  position: absolute;
  //z-index: 2;
  margin-top: 5px;
  
}
.dotted-line::after{
  content: "";
  height: 11px;
  width: 11px;
  background-color:  #FAAD26;
  border-radius: 50%;
  //display: inline-block;
  position: absolute;
  //z-index: 2;
  margin-top: 6px;
  margin-left: -2.5rem;
  
}

.dotted-line1::before{
  content: "";
  height: 11px;
  width: 11px;
  background-color:  #FAAD26;
  border-radius: 50%;
  //display: inline-block;
  position: absolute;
  //z-index: 2;
  margin-top: 5px;
  
}
.dotted-line1::after{
  content: "";
  height: 11px;
  width: 11px;
  background-color:  #FAAD26;
  border-radius: 50%;
  //display: inline-block;
  position: absolute;
  //z-index: 2;
  margin-top: 6px;
  margin-left: -2.5rem;
  
}