
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6 contactpart">
                <h3 class="site-contact-title">
                    <span class="contactPartTitle1">
                        {{ .Site.Params.contactPartTitle | safeHTML }}
                   <br /> 
                    {{ .Site.Params.contactPartTitle1 | safeHTML }}
                </h3> </span>
                <p class> {{.Site.Params.contactPartC | safeHTML}}
            </div>
            <div class="col-md-6 contactpart2">
                <div class="site-contact-form">
                    <form id="contact-form" action="{{ .Site.Params.formspreeFormUrl }}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="full-name" id="full-name"
                                    placeholder="Name">
                            </div>
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Email Address">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="phone-number" id="phone-number"
                                    placeholder="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="organization" id="organization"
                                    placeholder="Organization">
                            </div>
                            <div class="col-md-12">
                                <button aria-label="contact" type="submit" aria-label="contact-form-button" class="btn-contact" id="contact-form-button">
                                    <span class="btn-area">
                                        <span data-text="Send Message">
                                            Send
                                        </span>
                                    </span>
                                </button>
                            </div>
                            <p id="contact-form-status"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>