{{ with .Site.Params.digitization }}
{{ if .enable }}
{{ "<!-- Site Connect Digitize -->" | safeHTML }}
<section class="home-digitize">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          <span class="digi-heading">{{ .heading }} <br /></span>{{.heading1}}
        </h2>
        <p>
          {{.para1}}
        </p>
        <img class="digi-img" src="{{ .digitizeImg }}" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="oursolution"><button aria-label="digitization features" class="digit-btn"> 
           {{.buttonValue}} 
         </button>
        </a>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }}
{{ end }}
{{ end }}