{{ with .Site.Params.organize }} {{ if .enable }} {{ "<!-- Site Clients Start -->"|safeHTML}}
<section class="home-organize">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {{ .heading1 }} <br />
          <span class="heading2"> {{.heading2}} </span>
        </h2>
        <p>{{ .para1 }}</p>
        <p>{{ .para2 }}</p>
      </div>
    </div>
  </div>
</section>

<div class="org3section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 jumbotron1 shipperbg">
        <h3>{{.img1Value}}</h3>
      </div>

      <div class="col-md-4 jumbotron1 driverbg">
        <h3>{{.img2Value}}</h3>
      </div>

      <div class="col-md-4 jumbotron1 carrierbg">
        <h3>{{.img3Value}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="lineSection">
    <div class="dotted-line">
      <svg height="10%" width="60%">
        <g fill="none" stroke="#FAAD26" stroke-width="4">
          <path stroke-dasharray="5,5" d="M5 10 l150 0" />
        </g>
      </svg>
    </div>

    <div class="dotted-line1">
      <svg height="10%" width="60%">
        <g fill="none" stroke="#FAAD26" stroke-width="4">
          <path stroke-dasharray="5,5" d="M5 10 l150 0" />
        </g>
      </svg>
    </div>
  </div>
</div>

{{ "<!-- Site Hero End -->" | safeHTML }} {{ end }} {{ end }}
