<!--<div class="row carrierBg" style="background-image:url('{{.Params.carriersImg}}');">
</div>
<div class="container">
    <div class="row carrierbody1">
        <span class="line"></span>
        <div class="col-md-8">
            <h2 class="solutionTabh2">{{.Params.fleetMgmtHeading}}</h2>
            <p class="solutionTabp ">{{.Params.fleetMgmtContent}}</p>
        </div>
    </div>
    <div class="row carrierbody1">
        <span class="line2"></span>
        <div class="col-md-8">
            <h2 class="solutionTabh2">{{.Params.quickInvoicingHeading}}</h2>
            <p class="solutionTabp">{{.Params.quickInvoicingContent}}</p>
        </div>
    </div>
    <div class="row carrierbody1">
        <span class="line"></span>
        <div class="col-md-8">
            <h2 class="solutionTabh2">{{.Params.accessBFSIHeading}}</h2>
            <p class="solutionTabp">{{.Params.accessBFSIContent}}</p>
        </div>
    </div>
    <div class="row carrierbody1">
        <span class="line2"></span>
        <div class="col-md-8">
            <h2 class="solutionTabh2">{{.Params.fleetMgmtHeading}}</h2>
            <p class="solutionTabp">{{.Params.fleetMgmtContent}}</p>
        </div>
    </div>
    <div class="row carrierbody1">
        <span class="line"></span>
        <div class="col-md-8">
            <h2 class="solutionTabh2">{{.Params.instantKYCHeading}}</h2>
            <p class="solutionTabp">{{.Params.instantKYCContent}}</p>
        </div>
    </div>

    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.businessPeformHeading}}</h2>
        <p class="solutionTabp">{{.Params.businessPerformContent}}</p>
    </div>
</div>-->

<div class="row carrierBg" style="background-image:url('{{.Params.carriersImg}}');">
</div>
<div class="carrierbody">
    <div class="orgTimeline right">
        <div class="orgContainer">
                <h2 class="solutionTabh2">{{.Params.fleetMgmtHeading}}</h2>
                <p class="solutionTabp ">{{.Params.fleetMgmtContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.intelligentLoadHeading}}</h2>
            <p class="solutionTabp">{{.Params.intelligentLoadContent}}</p>
        </div>
    </div>
    <div class="orgTimeline">
        <div class="orgContainer">
            <h2 class="solutionTabh2">{{.Params.quickInvoicingHeading}}</h2>
            <p class="solutionTabp">{{.Params.quickInvoicingContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.accessBFSIHeading}}</h2>
            <p class="solutionTabp">{{.Params.accessBFSIContent}}</p>
        </div>
    </div>
    <div class="orgTimeline right">
        <div class="orgContainer">
            <h2 class="solutionTabh2">{{.Params.instantKYCHeading}}</h2>
            <p class="solutionTabp">{{.Params.instantKYCContent}}</p>
        </div>
    </div>
    <div class="right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.businessPeformHeading}}</h2>
            <p class="solutionTabp">{{.Params.businessPerformContent}}</p>
        </div>
    </div>
</div>