<!--<div class="row carrierBg" style="background-image:url('{{.Params.driversImg}}');">
</div>
<div class="row carrierbody" >
    <div class="col-md-8 drCirc">
        <h2 class="solutionTabh2">{{.Params.routeNavigHeading}}</h2>
        <p class="solutionTabp">{{.Params.routeNavigContent}}</p>
    </div>
    <div class="col-md-8 drCirc ">
        <h2 class="solutionTabh2">{{.Params.tripReqHeading}}</h2>
        <p class="solutionTabp">{{.Params.tripReqContent}}</p>
    </div>
    <div class="col-md-8 drCirc">
        <h2 class="solutionTabh2">{{.Params.sosAlertsHeading}}</h2>
        <p class="solutionTabp">{{.Params.sosAlertContent}}</p>
    </div>
    <div class="col-md-8 drCirc">
        <h2 class="solutionTabh2">{{.Params.vernacularHeading}}</h2>
        <p class="solutionTabp">{{.Params.fleetMgmtContent}}</p>
    </div>
    <div class="col-md-8 drCirc">
        <h2 class="solutionTabh2">{{.Params.instantKYCHeading}}</h2>
        <p class="solutionTabp">{{.Params.instantKYCContent}}</p>
    </div>
    <div class="col-md-8 drCirc">
        <h2 class="solutionTabh2">{{.Params.businessPeformHeading}}</h2>
        <p class="solutionTabp">{{.Params.businessPerformContent}}</p>
    </div>
</div>-->

<div class="row carrierBg driverimgbg" style="background-image:url('{{.Params.driversImg}}');">
</div>

<div class="carrierbody">
    <div class="orgTimeline right">
        <div class="orgContainer">
            <h2 class="solutionTabh2">{{.Params.routeNavigHeading}}</h2>
            <p class="solutionTabp">{{.Params.routeNavigContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.tripReqHeading}}</h2>
            <p class="solutionTabp">{{.Params.tripReqContent}}</p>
        </div>
    </div>
    <div class="orgTimeline">
        <div class="orgContainer">
            <h2 class="solutionTabh2">{{.Params.sosAlertsHeading}}</h2>
            <p class="solutionTabp">{{.Params.sosAlertContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.vernacularHeading}}</h2>
            <p class="solutionTabp">{{.Params.vernacularContent}}</p>
        </div>
    </div>
    <div class="right">
        <div class="orgContainer">
            <h2 class="solutionTabh2">{{.Params.tripHeading}}</h2>
            <p class="solutionTabp">{{.Params.tripContent}}</p>
        </div>
    </div>
    <!--<div class="right">
        <div class="greyContainer">
            <h2 class="solutionTabh2">{{.Params.tripHeading}}</h2>
            <p class="solutionTabp">{{.Params.tripContent}}</p>
        </div>
    </div>-->
</div>