<!--<div class="row carrierBg" style="background-image:url('{{.Params.shippersImg}}');">
</div>
<div class="row  carrierbody">
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.intellShipHeading}}</h2>
        <p class="solutionTabp">{{.Params.intelShipContent}}</p>
    </div>
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.loadOptHeading}}</h2>
        <p class="solutionTabp">{{.Params.loadOptContent}}</p>
    </div>
   
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.shipTrackHeading}}</h2>
        <p class="solutionTabp">{{.Params.shipTrackContent}}</p>
    </div>
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.busIntHeading}}</h2>
        <p class="solutionTabp">{{.Params.busIntContent}}</p>
    </div>
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.ewayHeading}}</h2>
        <p class="solutionTabp">{{.Params.ewayContent}}</p>
    </div>
    <div class="col-md-8">
        <h2 class="solutionTabh2">{{.Params.vendorHeading}}</h2>
        <p class="solutionTabp">{{.Params.vendorContent}}</p>
    </div>
</div> -->

<div class="row carrierBg" style="background-image:url('{{.Params.shippersImg}}');">
</div>
<div class="carrierbody">
    <div class="orgTimeline right">
        <div class="orgContainer">
             <h2 class="solutionTabh2">{{.Params.intellShipHeading}}</h2>
        <p class="solutionTabp">{{.Params.intelShipContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
              <h2 class="solutionTabh2">{{.Params.loadOptHeading}}</h2>
        <p class="solutionTabp">{{.Params.loadOptContent}}</p>
        </div>
    </div>
    <div class="orgTimeline">
        <div class="orgContainer">
           <h2 class="solutionTabh2">{{.Params.shipTrackHeading}}</h2>
        <p class="solutionTabp">{{.Params.shipTrackContent}}</p>
        </div>
    </div>
    <div class="greyTimeline right">
        <div class="greyContainer">
                   <h2 class="solutionTabh2">{{.Params.busIntHeading}}</h2>
        <p class="solutionTabp">{{.Params.busIntContent}}</p>

        </div>
    </div>
    <div class="orgTimeline right">
        <div class="orgContainer">
           <h2 class="solutionTabh2">{{.Params.ewayHeading}}</h2>
        <p class="solutionTabp">{{.Params.ewayContent}}</p>
        </div>
    </div>
    <div class="right">
        <div class="greyContainer">
           <h2 class="solutionTabh2">{{.Params.vendorHeading}}</h2>
        <p class="solutionTabp">{{.Params.vendorContent}}</p>
        </div>
    </div>
</div>